@model FoodDelivery.Models.RegisterModel

@{
	ViewBag.Title = "FoodDelivery: Регистрация";
}

@using (Html.BeginForm())
{
	<div class="form-horizontal col-lg-12 col-md-pull-2" style="color:black">
		<h2 class="text-center">Регистрация</h2>
		<p class="text-center">Пожалуйста, заполните поля</p>
		<div class="form-group">
			<div class="col-md-offset-4 col-md-5">
				@Html.AntiForgeryToken()
				@Html.ValidationSummary()
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(x => x.Name, htmlAttributes: new { @class = "control-label col-md-4" })
			<div class="col-md-5">
				@Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control", @id = "regName" } })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(x => x.Surname, htmlAttributes: new { @class = "control-label col-md-4" })
			<div class="col-md-5">
				@Html.EditorFor(x => x.Surname, new { htmlAttributes = new { @class = "form-control", @id = "regSurname" } })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(x => x.Email, htmlAttributes: new { @class = "control-label col-md-4" })
			<div class="col-md-5">
				@Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control", @id = "regMail" } })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(x => x.Password, htmlAttributes: new { @class = "control-label col-md-4" })
			<div class="col-md-5">
				@Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control", @id = "regPass" } })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(x => x.PasswordConfirm, htmlAttributes: new { @class = "control-label col-md-4" })
			<div class="col-md-5">
				@Html.EditorFor(x => x.PasswordConfirm, new { htmlAttributes = new { @class = "form-control", @id = "regCPass" } })
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-4 col-md-5">
				<input type="submit" class="btn btn-primary" value="Зарегистрировать" />
			</div>
		</div>

	</div>
}